[2015-09-21 06:58] olegdovger opened #3 "SyntaxError: Invalid character: '`'"
I got error SyntaxError: Invalid character: '`'  (line 1670)
while testing in PhantomJS 2.0

It is because of single quote here:
![2015-09-21 9 55 51](https://cloud.githubusercontent.com/assets/964292/9986602/4e47007c-6047-11e5-8b54-26cfe42d4367.png)

[2015-09-21 07:15] olegdovger commented on #3
https://github.com/curit/ember-cli-yadda/pull/4

[2015-09-21 07:16] olegdovger commented on #3
[Changes here] (https://github.com/curit/ember-cli-yadda/pull/4)

[2015-09-21 07:28] remkoboschker commented on #3
This backtick start a es2015 template string https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/template_strings

[2015-09-21 07:41] albertjan commented on #3
The problem is probably that babel doesn't translate it to es5. What version of ember-cli are you on?

[2015-09-21 10:55] olegdovger commented on #3
![2015-09-21 13 52 22](https://cloud.githubusercontent.com/assets/964292/9990188/0f8e4fb8-6068-11e5-8954-3cd6d8cb2379.png)

If I run
`phantomjs`
and then
`test string.indexOf(0)`

I got the same error - **Invalid character: '`'**

[2015-09-21 10:58] albertjan commented on #3
Yes that happens when the tests aren't being translated from es6 to es5. Could you paste your package.json file. So I can investigate a little,

[2015-09-21 10:58] olegdovger commented on #3
see previous message ) I edited it )

[2015-09-21 11:00] olegdovger commented on #3
<pre>"devDependencies": {
    "broccoli-asset-rev": "^2.1.2",
    "ember-cli": "1.13.8",
    "ember-cli-app-version": "0.5.0",
    "ember-cli-babel": "^5.1.3",
    "ember-cli-content-security-policy": "0.4.0",
    "ember-cli-dependency-checker": "^1.0.1",
    "ember-cli-htmlbars": "0.7.9",
    "ember-cli-htmlbars-inline-precompile": "^0.2.0",
    "ember-cli-ic-ajax": "0.2.1",
    "ember-cli-inject

[2015-09-21 11:30] albertjan commented on #3
could you try running `ember install ember-cli-babel --save`

[2015-09-21 12:04] albertjan commented on #3
Here is an example of a working template string https://jsbin.com/joyukaxate/edit?html,js,output

[2015-09-21 12:28] olegdovger commented on #3
Error is still produced when I run `ember t`

<pre>not ok 1 PhantomJS 2.0 - global failure
    ---
        actual: >
            null
        message: >
            SyntaxError: Invalid character: '`'
        Log: |
    ...
not ok 2 PhantomJS 2.0 - global failure
    ---
        actual: >
            null
        message: >
            SyntaxError: Invalid character: '`'
        Log: |
    ...

1.

[2015-09-21 12:30] olegdovger commented on #3
And my solution from pull request is not ideal. Is it possible to change symbol "`" to another one?

[2015-09-21 13:05] olegdovger commented on #3
[More stable solution](https://github.com/curit/ember-cli-yadda/pull/5)
What do you think about it?

[2015-09-21 13:11] albertjan commented on #3
I've reproduced it I'm looking into it If I can't find it your solution is fine :smile:

[2015-09-21 13:15] albertjan commented on #3
I found it has to do with the ordering of the packages :smile: if you put ember-cli-yadda ahead of ember-cli-babel you'll get a different error but the javascript will be translated.

[2015-09-21 13:47] olegdovger commented on #3
Yes. It works )). Right now it is enough for me but it would be nice if it work regardless of package ordering.

[2015-09-21 13:48] albertjan commented on #3
Cool :) I'm working on a more permanent fix :+1:

[2015-09-22 06:34] olegdovger opened #7 "How to add second scenario with different 'given' statement?"
I have such feature:
<pre>Feature: main feature
  Scenario: 1 scenario
    When 1 step
    Then finish
  Scenario: 2 scenario
    When 2 step
    Then finish</pre>

How can I use steps from 2 different files (**steps/first.js**, **steps/second.js**) ?

<pre>import first_steps from './steps/first.js';
import first_steps from './steps/second.js';

export default function (assert) {
  return ...; //

[2015-09-22 08:05] albertjan commented on #7
:smile: Good one never though of that.

They both import the main steps library?

[2015-09-22 08:08] albertjan commented on #7
The idea was originally that you would create a chain of steps files so one base one for the application

`acceptance/steps/steps.js` and then a feature specific one per feature `acceptance/steps/main-feature.js`.

But I think it's possible but you have to change the `./steps/first.js` and the `./steps/second.js` a bit.

[2015-09-22 08:15] albertjan commented on #7
first or second steps should look something like this:

[code]

[code]

[2015-09-22 08:17] albertjan commented on #7
The idea is that we create __one__ library at the end. And we look for that in the `acceptance/steps` folder at the same location as your feature file with the same name.

[2015-09-22 08:19] albertjan commented on #7
Or you could chain them:

steps.js -> first_steps.js -> second_steps.js.

[2015-09-22 17:21] albertjan commented on #7
@olegdovger did it work?

[2015-09-28 11:03] #7 closed

[2015-10-08 22:44] mschinis opened #10 "Package 'yadda' not found"
Hello,

When I install this package using `ember install ember-cli-yadda`, the `afterInstall` function in `blueprints/main-index.js` fails to find the yadda package to import it.

I forked the project to find a fix, but will definitely be appreciated if you find the issue before me :D

How to reproduce:
1. I'm guessing the yadda package is in your `bower_components` folder, so you would probably h

[2015-10-09 07:41] albertjan commented on #10
Looking into it.

[2015-10-09 07:42] albertjan commented on #10
I'm assuming you're using ember-cli 1.13

[2015-10-09 08:16] albertjan commented on #10
I just did this on my machine without issues :smile:

[code]

[2015-10-09 08:17] albertjan commented on #10
What happens when you type:

[code]

[2015-10-09 08:47] mschinis commented on #10
Hello @albertjan, thanks for the quick reply. I eventually ended up finding the issue earlier today.
I was using `ember-cli v1.13.1`, and when I upgraded to `v1.13.8` everything worked perfectly!

Weird, but it seems to be connected to [this](https://github.com/ember-cli/ember-cli/pull/4643) ember-cli pull request which was released with 1.13.8.
```#4643 Support a (now deprecated) single-argument

[2015-10-09 09:06] albertjan commented on #10
We use a call to `addBowerPackagesToProject` that might internally use the `addBowerPackageToProject` with the single argument. I could change that. But I wasn't planning on supporting older versions of ember-cli, just because the width and breadth of the system of rabit holes is staggering :smile:

Don't hesitate to ask any other questions. (I'm also on the emberjs slack chat: https://ember-commu

[2015-10-09 09:43] mschinis commented on #10
Yeah `addBowerPackagesToProject` internally calls `addBowerPackageToProject`.

Thanks for the ember-community slack channel! I didn't know it even existed. Just joined!
Feel free to close the issue. I will also be contributing in the near future as soon as I become more familiarised with the addon.

[2015-10-09 10:12] albertjan commented on #10
Cool :smile:

[2015-10-09 10:12] #10 closed

[2015-10-19 15:19] mschinis opened #11 "moduleForComponent implementation"
Hi,

Trying to test components, missing the ember-cli `moduleForComponent` implementation though. Is there a way to test components with ember-cli-yadda or do I have to extend the plugin to add the module?

Cheers,
Michael

[2015-10-19 16:59] albertjan commented on #11
Weird I would have bet this was in there somewhere. It should be. :smile:. I have to think a bit about it though. Maybe we have to make it an option in the feature file with a decoration something like:
`@moduleForComponent pretty-color`

[2015-10-20 17:06] jbryson3 opened #12 "tests/helpers/yadda.js not created upon install"
Using ember-cli 1.13.8
ember init
ember install ember-cli-yadda

The docs say that tests/helpers/yadda.js should be installed, but I do not see it there. Am I missing something or reading the docs wrong?

[2015-10-20 17:13] albertjan commented on #12
@jbryson3 yadda will be installed as a dependency, it won't be added to your code. Where did you read this in the docs? I'll try and clarify.

[2015-10-20 17:27] albertjan commented on #12
Ah yes I found it, and I've removed it. When we first started we needed a test helper to be injected into the test runtime. It's not longer necessary.

[2015-10-20 17:28] albertjan commented on #12
Did you have any issues with the addon?

[2015-10-20 19:12] jbryson3 commented on #12
No, I didn't realize that importing yadda wouldn't result in an undefined if I didn't see it in my source folders. Thanks for your help!

[2015-10-20 19:12] #12 closed

[2015-11-10 10:56] montoias commented on #10
worked for me also, thanks @mschinis

[2015-12-10 23:27] mschinis commented on #11
PR #14 adds support for component unit tests :)

[2015-12-18 19:08] sfbwalder opened #15 "using ember-cli-yadda with ember-cli-blanket 'Error: Could not find module yadda'"
We have installed the latest versions of ember-cli-yadda and ember-cli-blanket, with ember-cli 1.13.8.  When running /tests without blanket coverage the BDD tests run fine.  When running /tests?coverage to enable blanket coverage, the BDD tests fail with:

[code]

I'm not sure of the exact problem, but perhaps this is related.  [yadda-0.15.4](https://github.com/acuminous/yadda/blob/master/dist/yad

[2016-01-07 12:25] remkoboschker commented on #15
This pull request should solve the require issue for blanket https://github.com/sglanzer/ember-cli-blanket/pull/104 I hope I can find the time to have a look at a work-around for yadda.

[2016-02-04 11:37] EmilTemirov opened #16 "Parameterized steps"
Hi all! How to use parameterized steps?
I tried following:
[code]
And got exception:
[code]

[2016-02-04 12:14] EmilTemirov commented on #16
Hmm, seems that this problem occurs with PhantoJS only...

[2016-02-04 12:18] EmilTemirov commented on #16
Yep, updating PhantomJS from 1.9.19 to 2.1.3 helped me.

[2016-02-04 12:18] #16 closed

[2016-02-04 20:53] albertjan commented on #16
@EmilTemirov cool :smile:

[2016-02-10 13:20] edslocombe opened #17 "Cannot read annotations"
I think I'm right in saying that I cannot access Yadda annotations, or rather, cannot control which scenarios might be run, using the default test feature template the `index.js` generates.

I would like to have more configuration options; e.g.
- Skip scenarios with a `@Skip` annotation
- The annotation `@EndToEnd` perhaps suggests that the scenario is only run when not using Mirage

Would we be a

[2016-02-11 08:04] remkoboschker commented on #17
@edslocombe Would you like to be able to skip feature entirely or just scenarios?

We can easily filter the scenarios array on scenario.annotation.skip.

I'm not sure how we would filter on features. Once the file is parsed and the feature has a skip annotation we could return a test file with no tests in it. But it is probably nicer to somehow delete it from the broccoli tree.

[2016-02-11 08:51] edslocombe commented on #17
I don't think I'd be too fussed about skipping features but it would be nice. I guess a first-pass solution could be ember features if all scenarios happened to be skipped.

I think whatever the solution, it'd be great if it were configurable and that perhaps arguments from the command line could determine what scenarios were run.

e.g `ember test --tags @smoke`

Much like Cucumber's [tags](https:

[2016-02-17 18:41] remkoboschker commented on #17
Do you know how to pass parameters into the test runner? I'll have look.

[2016-02-17 19:00] remkoboschker commented on #17
Yes, ember-cli has a an option to filter on name string and an option to run a specific module. I have not looked at the exact implementation. So if we get the annotations from the features and scenarios how do we make them available in the `-test.js` file that the addon outputs so that we can use them from the testem runner?

[2016-03-07 04:54] jackmatt2 opened #18 "More than one assert in a single given/when/then"
At the moment only a single `assert` is allowed per function - is this configurable?

[2016-03-07 04:56] jackmatt2 opened #19 "Document table usage in README.md"
Document table usage.  In the [video](https://vimeo.com/146828818) there is a demonstration of using a table in tests but there is no documentation in the README.md.

[2016-03-08 08:04] remkoboschker commented on #18
I'm not sure I understand what you mean.

[2016-03-08 08:07] remkoboschker commented on #19
You can find more information on these matter overhere: https://www.gitbook.com/book/acuminous/yadda-user-guide/details. Ember-cli-yadda is just a thin wrapper around yadda.

[2016-03-08 08:37] albertjan commented on #18
Morning @remkoboschker :smile: currently only one assertion is expected per line, for the async stuff. It currently isn't configurable.

[2016-03-08 09:24] jackmatt2 commented on #19
Fair enough.  Adding the link to the README somewhere would be great.

[2016-03-08 09:24] #19 closed

[2016-03-08 09:31] jackmatt2 commented on #18
Can this be added as a feature?

[2016-03-08 09:46] albertjan commented on #18
We'd need to have a way to tell qunit/mocha how many assertions to expect. It might be possible to do that with an annotation. I'd say have at it :smile:

[2016-03-08 09:56] remkoboschker commented on #18
I see, we now just input the number of steps, got it. Should you do more than one assertion per step?

[2016-03-08 10:07] albertjan commented on #18
That is a good question. @mschinis you've probably run into this as well would you say this would be a useful addition?

[2016-03-15 12:29] mschinis commented on #18
Sorry for the late reply!

I definitely see the reason why this might be handy, but I don't think that the addition of more than assertion per step is correct in the BDD world.

@jackmatt2 I don't know exactly what your gherkin test looks like exactly, but in BDD, each step in a test is considered as one key user interaction/check. I would highly recommend that you split each assertion in it's own

[2016-03-15 12:47] jackmatt2 commented on #18
@mschinis I am pretty new to Gherkin tests.  I will use your advise and try to make sure I only need a single test per line.  Thanks.

[2016-03-15 12:47] #18 closed

[2016-03-15 12:54] mschinis commented on #18
Feel free to reach me on the ember community slack group if you need any help :)

[2016-03-15 12:55] #11 closed

[2016-04-05 06:44] remkoboschker opened #20 "remove old branches"
@albertjan shall I remove all branches except master and update-dependencies? They seem pretty old without any new functionality.

[2016-04-05 08:04] albertjan commented on #20
Go for it :+1:

[2016-04-05 10:17] #20 closed

[2016-05-13 15:36] sfbwalder opened #22 "Adding yadda to bower.json"
Currently ember-cli-yadda adds the following to the ember project's bower.json:

[code]

We work behind a corporate proxy, and when the bower install attempts to go to github it gets blocked.  We would like to pull yadda from the bower registry rather than github.  Could this be changed to have the following put in bower.json:

[code]

or something similar to pull the latest version from bower ins

[2016-05-24 08:53] remkoboschker commented on #22
Sure, if you test it and make a pull request. I don't see why we shouldn't merge it. I does mean that the people over at yadda need to publish it consistently to the bower registry.

@albertjan any comments?

[2016-05-24 08:55] remkoboschker commented on #17
@edslocombe @albertjan is this still an active issue?

[2016-05-24 09:46] edslocombe commented on #17
I haven't got round to doing anything about it but would still love a feature like this. Feel free to close though and I may still take a look at some point.

[2016-05-24 10:13] albertjan commented on #22
Yeah when we need to use master again it's switched back easily enough. I'd merge it 😄

[2016-05-24 10:14] albertjan commented on #17
I don't see any harm in keeping it open, it might trigger somebody to pick it up 👍

[2016-06-01 01:59] jackmatt2 opened #24 "Accessing app instance from steps file."
I am trying to authenticate my application using the [ember-simple-auth](https://github.com/simplabs/ember-simple-auth#testing) test helpers.  It needs access to an `app` instance.  In a normal test it is available at the top of the module scope.  Is it possible to access this from within a steps file?

[2016-06-01 03:05] jackmatt2 commented on #24
I was able to access it via ` window.NameOfMyApp`

[2016-06-01 03:05] #24 closed

[2016-09-01 13:20] ImmortalDragonm opened #25 "this.step undefined"
ember 2.7

[code]

in localhost:4200/tests i always see:
1. Okay
2. Okay
..........

but must see:
1.  **I add something to the context**

[2016-09-01 15:02] albertjan commented on #25
works for me.. can you make a minimal example? What I have done:

I did have to change `(next) =>` to `function(next)` because otherwise `this` would be from the outerscope.

[code]

Then I changed `~/test-yadda/tests/acceptance/steps/test-step-name-steps.js` to:

[code]
And `~/test-yadda/tests/acceptance/steps/steps.js` to:

[code]

And my tests look like:

<img width="649" alt="screen shot 2016-

[2016-09-01 15:21] ImmortalDragonm commented on #25
(next) => to function(next)

this work. Thank you. I'm new to es6.

[2016-09-01 16:15] ImmortalDragonm commented on #25
Stop.
When i create new application and install addon i see (next) in steps.js

import yadda from '../../helpers/yadda';

[code]

and when a generate new feature:
[code]
it's wrong as i experemented.

[2016-09-01 17:16] albertjan commented on #25
Yeah thats a bug in the blueprints. You're right.

[2016-09-09 10:16] moogus commented on #17
having this issue myself....trying to access the annotations programatically, feels like I should be able to do something like.

`
import annotations from 'ember-yadda'

if (annotations['myAnnotation']) {
    // Do stuff
}

`

Can't even comment out the whole files as that shows as an empty feature file which fails too.

as per the yadda docs but

[2016-09-14 13:37] mariogintili opened #27 "Why do 3 steps lead to assert.expect(3)?"
Hello guys I have the following test file and the following step file

[code]

and then:

[code]

gives me

[code]

[2016-09-14 14:32] mariogintili commented on #27
Happy to submit a PR removing the following lines:

- https://github.com/curit/ember-cli-yadda/blob/d0637147c8c44e05cd14a80ff7bd19b232f71350/index.js#L123
- https://github.com/curit/ember-cli-yadda/blob/d0637147c8c44e05cd14a80ff7bd19b232f71350/index.js#L96

[2016-09-14 15:18] #27 closed

[2016-11-01 22:05] sfbwalder commented on #15
This is now irrelevant, closing.

[2016-11-01 22:05] #15 closed

[2016-11-01 22:07] sfbwalder opened #29 "Publish new version to npm"
We would appreciate if you would publish the master branch to npm as a new version.

[2016-11-02 22:21] sfbwalder opened #30 "yadda's require() overwrites ember's require()"
I am running tests using [ember-cli-yadda](https://github.com/curit/ember-cli-yadda) and [yadda](https://github.com/acuminous/yadda), and using [ember-cli-code-coverage](https://github.com/kategengler/ember-cli-code-coverage).

Yadda is setting ember's global ```require()``` to its own function.  This makes the coverage reporting fail in the script inserted into tests/index.html [at this line of c

[2016-11-03 04:40] sfbwalder commented on #30
In addition to the above, yadda clobbering ```require()``` is also causing the TestLoader to put out the warning:
[code]
before any tests are run because unsee doesn't exist on yadda's ```require()``` function.

This seems like an undesirable side effect.

[2016-11-08 15:59] rox163 commented on #30
@sfbwalder curious as to how to figured out yadda was overwriting Ember's require? I think mocha might have the same issue, as I am seeing the same error with ember-cli-code-coverage so I would like to see if I need to raise an issue in ember-cli-mocha.

[2016-11-08 17:12] albertjan commented on #30
Oh that is going to be a difficult one. I'll have to investigate if it's even possible to scope the require function of yadda or something. I know `ember-electron` does something for their require function they rename the node require to `requireNode` so you can use both theirs and embers.

[2016-11-08 17:13] albertjan commented on #29
I will try and get to this some evening this week!

[2016-11-08 20:29] sfbwalder commented on #30
@rox163 [this line of code](https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/templates/test-body-footer.html#L3) was throwing a "entries not found" error, so I put a break point in chrome dev tools, then inspected require() by typing it in the console, and it was set to a function that was not ember's.  After some additional watching, I saw the function matched the definition

[2016-11-08 22:01] rox163 commented on #30
ah thanks!
 so based on that, it looks like mocha does the same thing here ? https://github.com/mochajs/mocha/blob/master/mocha.js#L1

[2016-11-09 22:03] sfbwalder commented on #30
I am somewhat a newbie, but it appears yadda is browserified, and in the browserify process it is doing a [.require with expose option](https://github.com/acuminous/yadda/blob/master/bin/browserify.js#L15).  This causes the [browserified yadda distributed js file to have have ```require=(...```](https://github.com/acuminous/yadda/blob/master/dist/yadda-0.22.1.js#L1) which overrides the global requ

[2016-11-14 16:14] #25 closed

[2016-11-14 17:45] vinodhrajamuralidharan opened #32 "Upgrading our app to 2.9 failing yadda tests"
- Recently, I upgraded my app from 2.7 to 2.9 as Qunit is upgraded in this version, my existing yadda BDD tests are also failing. Could you please fix?

<img width="939" alt="screen shot 2016-11-14 at 17 43 35" src="https://cloud.githubusercontent.com/assets/8244992/20275918/2ecc851e-aa92-11e6-974c-f4f3ca70d1fb.png">

[2016-11-14 19:48] albertjan commented on #32
@vinodhrajamuralidharan PR has already been merged if you install it from the gitrepo you'll have the latest and greatest that doesn't rely on expect anymore.

[2016-11-14 19:50] albertjan commented on #32
you can do that with `npm install curit/ember-cli-yadda`

[2016-11-14 19:51] vinodhrajamuralidharan commented on #32
I will try now and update you. Thanks.

On Mon, 14 Nov 2016 at 19:50, Albert-Jan Nijburg <notifications@github.com>
wrote:

[2016-11-15 11:16] albertjan commented on #32
addressed in 0.1.0

[2016-11-15 11:16] #32 closed

[2016-11-15 11:17] albertjan commented on #29
published 0.1.0

[2016-11-15 11:17] #29 closed

[2016-11-15 11:17] #22 closed

[2016-11-15 20:19] simonihmig opened #33 "Better traceability for failing tests"
@albertjan as were in a flow right now... ;)

This is basically just an idea, and I am curious on what your opinion is about the following proposal. The problem I have been facing often times with ember-cli-yadda ist that when tests are failing you have no idea where the problem really comes from, because of all the asynchrony and the "broken" stack traces. Not even on which step the error occured

[2016-11-16 09:28] albertjan commented on #33
From a layout perspective it looks good to me and I definitely understand the reasoning behind it. People currently using ember-cli-yadda won't be effected they'll only have a better looking results page.

I assume it will run other scenario's and features, it just won't run the other steps in the failing scenario?

Open the PR it's definitely worth looking at 😄

[2016-11-16 09:40] simonihmig commented on #33
Sure!

OK, will try to put something together. Might take some days though...

[2016-11-16 10:00] albertjan commented on #33
I looked through your code, your sharing the context between steps, is that on purpose?

[2016-11-16 10:13] simonihmig commented on #33
I am not sure I understand your point. Isn't that what the context is supposed to do?

[2016-11-16 10:20] albertjan commented on #33
:trollface: ah yes you are right, I completely misread that.

[2016-11-28 20:39] albertjan commented on #33
Hey @simonihmig any progress on this one? 😄

[2016-11-29 09:56] simonihmig commented on #33
Sorry, did not have the time yet unfortunately. But I have not forgotten about this! ;)

[2016-12-06 14:34] albertjan commented on #17
@edslocombe Does #38 do it for you? 😉

[2016-12-06 14:34] albertjan commented on #30
this has been addressed by the move to npm

[2016-12-06 14:34] #30 closed

[2016-12-06 14:43] simonihmig commented on #33
Closed by #37

[2016-12-06 14:43] #33 closed

[2016-12-06 15:29] sfbwalder commented on #30
Would appreciate if you would publish the fix to this issue as 0.2.0 (or change the readme to match).  Thanks.

[2016-12-06 15:33] albertjan commented on #30
yeah will publish when it all works 😄 did you see #39?

[2016-12-07 18:53] sfbwalder opened #40 "ember-browserify not being installed in blueprint"
afterInstall() [at this line of code](https://github.com/curit/ember-cli-yadda/blob/master/blueprints/main-index.js#L7) needs to return the promise:

`  return this.addAddonToProject('ember-browserify');`

to have the install wait on ember-browserify to install.

The work around is to manually run `ember install ember-browserify`.

Sorry I didn't catch this earlier when we were looking at the PR.

[2016-12-08 22:22] albertjan commented on #40
Thats ok. I'll do it quickly.

[2016-12-08 22:29] #40 closed

[2016-12-09 10:59] #17 closed

[2016-12-11 15:12] edslocombe commented on #17
Great stuff :)

[2017-03-27 11:43] adamjmcgrath opened #43 "Scope issue with mocha acceptance test runner"
I get the following error with a fresh install of `ember-cli-mocha` and `ember-cli-yadda`

[code]

I'd be tempted to raise a PR that changed https://github.com/curit/ember-cli-yadda/blob/master/lib/test-runner/mocha/acceptance.js#L8-L11 to `this.application` - but perhaps the scope is needed for older versions of Ember?

https://github.com/curit/ember-cli-yadda/blob/master/lib/test-runner/mocha/se

[2017-03-27 11:57] adamjmcgrath opened #44 "Not reporting acceptance test failures"
Am seeing that acceptance test failures are ignored with a fresh install (ember 2.12.0) of `ember-cli-mocha` and `ember-cli-yadda` (`separateSteps: true`) with `yadda@0.18.0` and upwards (`yadda@0.17.10` works ok). Eg, the following test is passing:

[code]

[2017-03-27 12:15] adamjmcgrath commented on #44
Possibly related https://github.com/acuminous/yadda/tree/0.18.0#latest-version

[2017-04-11 11:18] phyrog commented on #44
We're having the same problem. @adamjmcgrath did you find a workaround for this?

[2017-04-11 13:03] adamjmcgrath commented on #44
We downgraded to yadda@0.17.10

[2017-04-12 11:23] albertjan commented on #44
Completely missed this, I'll look into it.

[2017-06-14 12:33] CezaryH opened #46 "tests in cli are broken"
JSHint stuck on feature files.

When I try to run tests in cli, it can't go thru feature files.
JSHint stuck on them and starts from beginning.
In browser everything is fine.

ember cli 2.11.1
ember-cli-yadda 0.2.1

[2017-06-30 13:40] eodolphi opened #47 "How do I clean up after a scenario is run?"
In some of our steps we do stuff that needs to be cleaned up after a scenario has run (stubbing things for example). Preferably I would not like to add a "Then I clean everything up" step to the end of all our scenarios.

Is there a way let a step run something after a scenario finished so that the step can clean up after itself?

[2017-08-21 08:00] ArtemAlagizov commented on #47
would also very much like to know that

[2017-08-22 08:37] albertjan commented on #47
Yadda doesn't provide something like that as far as I can see. Ember destroys the entire app every feature, so it might be an idea to break out the scenario's and steps into separate features, we might want to move the destroy app to a scenario level, or make it a setting. It will make the tests slower though.

[2017-08-24 07:19] albertjan commented on #43
I think you're right we use `this.application` everywhere. I think I'll change this, and we'll see if we break someone else 😄

[2017-08-29 08:56] #43 closed

[2017-08-29 11:31] albertjan opened #49 "Make separate steps default behaviour"
Coming back to this after a few months the default behaviour for the mocha test runner to do all the steps in one test seems a bit awkward. I suggest we make `separateSteps: true` the default behaviour.

@adamjmcgrath what do you think.

[2017-08-30 10:05] albertjan commented on #44
Better late then never. But it's fixed in master.

[2017-08-30 10:05] #44 closed

[2017-09-05 16:43] BitBrit opened #51 "Put link to original Yadda docs"
Some people get to your library when they search for BDD in Ember. Those people don't/might not know of the actual Yadda library (https://github.com/acuminous/yadda). As your current documentation is really just a supplement to the original Yadda docs, please put a link to those docs on your page.

[2017-09-11 11:54] albertjan commented on #51
Good one will do 👍

[2017-09-19 13:15] adamjmcgrath commented on #49
TBH am thinking of reverting back to `separateSteps: false` on our app, because tests timing out while your debugging steps can be a nuisance. eg.

Step A
Step B // Paused on breakpoint for > 5 secs (mocha timeout)
Step C // test times out and fails before this step is run

Rather than:

Step A, Step B, Step C // spend as long as you like on a breakpoint on Step B, you can still jump into Step C w

[2017-11-07 23:01] sfbwalder opened #55 "Using async/await"
Will async/await work in ember-cli-yadda steps?  If so, can you share how it can work?

I attempted to use async/await without success as shown below.  The steps ran out of order.

[code]

[2017-11-08 09:54] ro0gr commented on #55
Seems like it's an  ember-cli-page-object related question.
Have you tried async/await with pure page objects? Does it work?

[2017-11-08 16:40] sfbwalder commented on #55
We are using ember-cli-page-objects.  A test like this works:

[code]
Perhaps the problem is mixing the next() function with async/await.  Before I dig into the issue, I thought I would see if someone else has crossed this bridge.  Any input is welcome!

[2017-11-15 21:53] albertjan commented on #55
I think if you return a promise from the function it should also work. you don't have to call next then. I'm pretty sure async await compiles into promises. But I'm afraid you'll have to dive into what happens when you make this function here async: https://github.com/curit/ember-cli-yadda/blob/master/lib/test-runner/qunit/component.js#L8. 😄

[2017-11-15 21:53] albertjan commented on #55
I might just work 😁

[2017-11-16 23:57] sfbwalder commented on #55
This is working... don't use async/await with next().
[code]

[2017-11-16 23:57] #55 closed

[2018-02-17 20:24] sfbwalder opened #56 "Ember 3.0 compatibility"
ember-cli-yadda is using ember 1.13.x.  It is not compatible with ember 3.x .  This is due to deprecations in 2.x being removed in 3.x.

ember-cli-yadda also needs to embrace new features available in later versions of 2.x and Ember 3.x, including using the Javascript modules API and the new [testing API](https://guides.emberjs.com/v3.0.0/testing/).

[2018-02-19 10:05] simonihmig commented on #56
@sfbwalder absolutely!

We are using it in a few apps, and I would like to upgrade things there asap as well. We use it with Mocha, and that needs to be updated to work with the new testing APIs (basically the same update that `ember-qunit` has seen). I have a WIP [PR](https://github.com/emberjs/ember-mocha/pull/190) ready, but this will need to be finalized and released before we can update the t

[2018-02-21 13:09] simonihmig commented on #56
The Mocha PR is merged (https://github.com/emberjs/ember-mocha/pull/190), so we could start with the above steps.

@albertjan any opinion on the above? Especially this:

[2018-02-22 21:00] sfbwalder commented on #56
Perhaps I made an assumption I should not have.  We are using 2.18, and get the following message during the build of our application:

I assumed when going to 3.0 this would start causing a build failure.  Perhaps it won't.

Good idea to split this into multiple steps.  I seems good to start with an upgrade without changing features.

[2018-02-22 22:01] simonihmig commented on #56
Yeah, I know that message. Pops up quite often, also for projects not related to `ember-cli-yadda`. It seems to be caused by `ember-cli-version-checker`. But what's weird in your error message is that it seems to be a dependency of `ember-cli-yadda` here, while it's actually not used anywhere AFAICT! 😳

But I don't *think* it will break in 3.0. `project.nodeModulesPath` is a private, and now depre

[2018-02-23 13:16] somasuna opened #59 "Throws error Could not find module tests/helpers/yadda-annotations"
This happens with the latest ember-cli-yadda version 0.2.3

[2018-02-23 13:18] somasuna commented on #59
Sorry just read the release notes

[2018-02-23 13:18] #59 closed

[2018-02-28 15:01] lolmaus commented on #47
Hey @eodolphi and @ArtemAlagizov, not that though a single app instance is shared it does get properly reset for me. E. g. Mirage records do not leak across scenarios.

[2018-02-28 16:49] eodolphi commented on #47
Hi @lolmaus You are right, mirage is properly reset.

 I also have some other things that get set up at the beginning of the test, such as stubbing redirects for example. I would like to reset those too. But I cannot figure out a way to do that cleanly.

[2018-02-28 21:07] simonihmig commented on #47
For acceptance tests you could put such things into your `start-app.js`/`destroy-app.js`, although that is certainly not the most clean way...

I am in the process of refactoring a large test suite to the new RFC268 based testing APIs (which `ember-cli-yadda` does not support yet), as part of that will try to put some additional PRs together. First I implemented some hard-coded support, but just t

[2018-03-01 12:49] lolmaus opened #62 "Error in an async step is not reported to QUnit, test hangs"
Consider this step:

[code]

For me, it results in QUnit hanging and timing out. The error is visible in console as "uncaught error in promise", but not in QUnit output.

Likely an issue upstream. I tried to follow Yadda codebase from [here](https://github.com/acuminous/yadda/blob/v1.4.0/lib/Macro.js#L42) and got lost in callbacks.

[2018-03-01 12:53] lolmaus commented on #62
Reported upstream: https://github.com/acuminous/yadda/issues/235

Feel free to close this if you are certain this can't be resolved in the addon.

[2018-03-01 13:04] lolmaus commented on #62
I've traced the problem to this line: https://github.com/albertjan/ember-cli-yadda/blob/master/lib/test-runner/qunit/acceptance.js#L29

[2018-03-01 13:37] lolmaus commented on #62
OK, I got it. Will post a PR.

[2018-03-02 17:49] #62 closed

[2018-03-02 23:03] #56 closed

[2018-03-05 22:02] albertjan commented on #62
Thanks!

[2018-03-08 23:22] #46 closed

[2018-03-08 23:27] CezaryH opened #67 "semantic versioning in 0.2.3 update"
Hey,
please use semantic versioning, as your change in 0.2.3 update broke mine projects.
You added new file that is required. I know it's in blueprint, but with automated builds( use npm install ) won't fire blueprint.

That way adding new required file is breaking change so it should be change to 0.3.0.

Thanks

[2018-03-09 09:41] lolmaus opened #68 "QUnit's "No try/catch" option doesn't work with async steps"
Normally, enabling the "No try/catch" option in QUnit makes errors fall through into the browser console.

With async steps (either `async function` or simply returning a promise from a step) this does not happen. Debugging becomes tedious: every time I have to copy line number from QUnit reporter, open the relevant file and search for the line number.

[2018-03-09 12:03] lolmaus opened #69 "Could not find module `my-app/tests/helpers/start-app`: support for the new test structure?"
Trying to use `ember-cli-yadda` in Ember CLI 3.1.0-beta.1, and it fails with error from title.

Note that modern test structure does not have `start-app` and `destroy-app`: http://www.ember-cli-diff.org/?#/v2.18.2/v3.1.0-beta.1

Related RFCs:

* https://github.com/emberjs/rfcs/blob/master/text/0232-simplify-qunit-testing-api.md
* https://github.com/emberjs/rfcs/blob/master/text/0268-acceptance-tes

[2018-03-09 12:13] simonihmig commented on #69
@lolmaus support for the new testing APIs is under way here: #65. The currently released version does not support it.

[2018-03-10 21:42] #47 closed

[2018-03-11 12:32] albertjan commented on #67
You’re right sorry about that. We’ll try to do better in the future.

[2018-03-11 12:32] #67 closed

[2018-03-13 11:34] #69 closed

[2018-03-13 11:35] albertjan commented on #51
Addressed in #71

[2018-03-13 16:17] sfbwalder commented on #68
@lolmaus I think I see what you mean.  When ever an error occurs in the steps js, the error in the console points to `rsvp.js:27`.  The stack trace in console error takes you to the right line in tests.js, but not to the line in the steps js that failed.

Comparing that to when an error occurs in an application test, the error in the console points directly to the line in the steps js that failed.

[2018-03-13 16:24] lolmaus commented on #68
No, it's the matter of whether the error is visible in the browser console. When `No try/catch` is enabled, QUnit normally does not catch the error and lets it fall through.

[2018-03-13 16:43] sfbwalder commented on #68
It seems I can't recreate it.  I am using 0.3.0.  When I get an error with "No try/catch", I see something like this in the console:

[code]

[2018-03-14 19:10] simonihmig opened #73 "Run tests for Mocha"
Currently there is no infrastructure to test the Mocha side of things.

We should figure out how to run the whole test suite for Mocha as well. Using ember-try it would probably be possible to write scenarios that remove `ember-qunit` and add `ember-mocha`.
We still have the issue that the step files are coupled to qunit ([example](https://github.com/albertjan/ember-cli-yadda/blob/master/tests/uni

[2018-03-15 19:58] #51 closed

[2018-03-16 07:16] manjudr commented on #3
Facing the same issue

```  SyntaxError: Invalid character: '`' ``` Es6 code not supporting
I tried with "phantomjs": "2.1" and  "phantomjs": "2.1.7" version

@albertjan  @olegdovger

Could you please help me on this?  What version of phantom js will support the es6 code.

[2018-03-16 11:19] albertjan commented on #3
@simonihmig @sfbwalder any idea what happened here? @manjudr did the suggested fix above not work for you?

[2018-03-16 11:29] simonihmig commented on #3
Idk. Is this related to the latest release? I see the reported issue is very old...
So please report what version of `ember-cli-yadda` you guys are using!

I agree, if string templates are still sent to the browser, something with transpilation (`ember-cli-babel`) seems broken...

[2018-03-16 15:47] albertjan commented on #3
Don't think it's release related.

[2018-03-17 02:37] manjudr commented on #3
Which version of phantom js  will support the es6 ? May I know @albertjan

On Mar 16, 2018 9:17 PM, "Albert-Jan Nijburg" <notifications@github.com>
wrote:

[2018-03-17 15:01] simonihmig commented on #3
Phantom is actually deprecated, and if it does not support it now, it will probably never do so. The best practice of testing in a browser nowadays is using a headless version of a "real" browser, like headless Chrome.

But that is not really the point here. As said previously Babel should have transpiled that ES6 code to ES5. At least as long as you did not remove support for e.g. IE from your em

[2018-03-19 06:19] manjudr commented on #3
@simonihmig  Currently I am not using ``` ember-cli-yadda``` We are writing a unit test cases using `jasmine framework` and `PhantomJS` browser

[2018-03-19 09:43] simonihmig commented on #3
Uh, ok... but how is this then related to this issue here? If your question is in general about PhantomJS, then this is not the right place to ask for it. Please visit some PhantomJS related "forum", like their github repo or so! I honestly have no idea about specific PhantomJS details...

Closing this for now, as all reports so far are either outdated or unrelated. If someone still sees this prob

[2018-03-19 09:43] #3 closed

[2018-03-24 09:28] lolmaus commented on #68
I've noticed that even without `ember-cli-yadda` some errors don't fall through.

A few days ago I spent hours figuring out a weird error in Ember internals which didn't fall through to the console (without Yadda), and QUnit stacktrace pointed at `<anonymous>` paths:

[code]

I searched through the compiled sources for all instances of `__deprecatedInstance__`, and none of them corresponded to the

[2018-03-24 09:28] #68 closed

[2018-03-30 16:15] BryanCrotaz opened #74 "a component rendered in one step is not available to future steps"
[code]
The DOM is empty after this step.

[2018-03-30 16:52] simonihmig commented on #74
@BryanCrotaz this is covered in tests, so it might be another problem: please add `await` to the render call. `render()`is async under the new test helpers, and maybe it is not rendered yet when the assertion runs?

[2018-04-10 03:42] artzte commented on #68
Ran into the same issue... found this thread and tried @lolmaus cure of killing and restarting Chrome, and the bizarre error (which was surfacing on subsequent acceptance tests run only in certain test suites). There is something here... we recently went to Qunit 4.3.2. We are using async functions in our production code.

[2018-04-18 21:56] lifeart commented on #68
@artzte @lolmaus same issue for
http://localhost:4200/tests?moduleId=70cc73a3&hidepassed
on https://github.com/ember-learn/ember-api-docs/pull/394/files

[2018-06-14 16:48] lukeclewlow opened #76 "Incorrect scope in steps"
Hi there,

I've recently upgraded a project to the new testing format, and followed the instructions in the README, however, the scope of `this` inside my step file is wrong as it does not have a `this.element` as the docs suggest it should.

Below is a simplified version of my steps file, have put it all in steps.js for brevity.

[code]

I'm not sure if some of my setup is wrong or if this is a b

[2018-08-03 09:33] lolmaus opened #78 "Yadda overwrites existing non-Yadda test"
Hi!

In my app I have a traditional `tests/acceptance/foo-test.js` and a new `tests/acceptance/foo.feature`.

Turns out, Yadda compiles the feature into a temporary file and puts it into the tests folder for QUnit to run.

The problem is that it overwrites the existing `tests/acceptance/foo-test.js`! The change persists since it's already under version control Tests still pass, so the autogenerate

[2018-08-03 14:14] simonihmig commented on #76
@lukeclewlow sorry for the late response here! Have you added the `@setupApplicationTest` annotation?

[2018-08-03 14:19] simonihmig commented on #78
I see two basically separate issues mentioned here:
* possibility of a name clash, which indeed can happen, and I don't see any reason not to implement some namespacing for the file like you suggested
* if I understand you correctly, the generated `tests/acceptance/foo-test.js` is written not into some temporary broccoli folder in `./tmp` (as it should be), but into your main project folder itself

[2018-08-03 14:41] lolmaus commented on #78
Yes and yes. My teammate @vvainio saw it as well on his machine.

[2018-08-28 16:00] simonihmig opened #80 "`this.element` missing in acceptance tests"
All the properties that `setupApplicationTest()` sets up on your test's `this` context exist properly, except for `element` (the tests's root element). This is due to two unfortunate coincidences:
* `this.element` is set up lazily after the first `visit()` call here: https://github.com/emberjs/ember-test-helpers/blob/cce178256ae0e2946c76961fee29fa6d6df6f2fc/addon-test-support/%40ember/test-helpers

[2018-09-24 12:08] lolmaus commented on #80
The code from `ember-test-helpers` has no dependencies:

[code]

It looks pretty safe to be copied over to `ember-cli-yadda`.

Alternatively, we could work with `ember-test-helpers` to expose it as an utility function, so that it can be reused in other addons.

[2020-05-08 18:33] simonihmig opened #82 "yadda package is bundled into vendor.js instead of test-support.js"
It seems when using the addon the `yadda/lib/*` modules land in vendor.js, i.e. get shipped to the user! 😩

I believe the underlying issue is more related to `ember-auto-import` not correctly putting it into the right bundle. Will file an issue there also, but keep this up here for visibility.

[2020-05-08 19:24] simonihmig commented on #82
For reference: https://github.com/ef4/ember-auto-import/issues/284

Not sure if we really need this re-export here: https://github.com/albertjan/ember-cli-yadda/blob/master/addon-test-support/index.js. AFAIK this kind of package namespace highjacking is discouraged anyway in the new embroider era. Instead we could let users (and our [feature parser](https://github.com/albertjan/ember-cli-yadda/blo

[2020-05-12 16:06] simonihmig opened #84 "Repo ownership"
Hey @albertjan,

as we (@kaliber5) are still heavily invested into this addon for our projects, I would like to ask you what your thoughts are for moving the repo to our org? (as touched in https://github.com/albertjan/ember-cli-yadda/pull/81#issuecomment-561563819)

This would make it more justifiable to spent more time on the addon, for e.g.
* regular maintenance (dependency updates)
* some mode

[2020-05-12 17:35] albertjan commented on #84
I tried moving it to @kaliber5 but that didn’t work because I wasn’t allowed. I can transfer ownership to you and then you can move it on.

[2020-05-16 20:18] simonihmig commented on #84
We are currently discussing our approach, and maybe (probably?) this will lead to having a separate addon, as there will be too many breaking changes, and providing backwards compatibility would be too much trouble, especially als obviously the number of active users of this addon is limited. (anyone other than us using this actively? 😝)

So this addon could at least continue to live and have some

[2020-05-17 20:23] albertjan commented on #84
I just tried moving it to you but I can’t because you have a fork it’s not allowed 😂. Let me know when you’ve removed it.

[2020-10-23 20:17] simonihmig commented on #84
@albertjan I just did that!

As mentioned in the other comment, we (or rather @lolmaus) are currently working on a related but different addon for yadda integration. But as we still rely on this one for existing projects, and the recent PRs I did today were a PITA, as Travis is unbearably slow today, and I have no admin rights to switch to Github Actions, I would appreciate if we could do the owne

[2020-10-26 20:27] #82 closed

[2020-11-03 22:14] albertjan commented on #84
@simonihmig sorry took me a few days but you should have an email.

[2020-11-04 09:03] simonihmig commented on #84
Yes, thank you!

[2020-11-04 09:06] #84 closed

[2021-06-30 17:26] simonihmig opened #231 "Not compatible with ember-auto-import v2"
We inject [this webpack config](https://github.com/kaliber5/ember-cli-yadda/blob/master/index.js#L12-L17) to make `yadda` work with webpack (see [here](https://github.com/acuminous/yadda/blob/6aa4b6d7577b92441711c5644b937aa75769812e/lib/shims/index.js)), but this only works for webpack v4 (used by eai v1). eai v2 uses webpack v5, which throws when seeing that config. We probably need to change the